


<div class="container">
    <div class="user-list">
        <h4>Create New Users</h4>
    </div>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"> Add Users</button>

</div>


  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          
            
            <form #userForm="ngForm" (ngSubmit)="onFormSubmit(userForm.value)">
                <div class="form-group">
                  <label>Name</label>
                  <!-- <input type="text" class="form-control" name="name" ngModel required #name="ngModel"> -->
                  <input type="text" class="form-control" name="name" ngModel required #name>
                </div>
                <div class="form-group">
                  <label>Phone</label>
                  <input type="text" class="form-control" name="phone" ngModel required #phone>
                </div>
                <div class="form-group">
                  <label>E-mail</label>
                  <input type="text" class="form-control" name="email" ngModel required #email>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-warning" (click)="resetUserForm(userForm)">Reset</button>
                    <button type="submit" class="btn btn-primary">Add</button>
                  </div>
            </form>
            <button type="submit">Submit</button> 
              
         </div>	
         
         

        </div>
      </div>
    </div>
 

         <p>First name value: {{ name }}</p>
              <p>First name valid: {{ phone }}</p>
              <p>First name valid: {{ email }}</p>
              <p>Form value: {{ userForm.value | json }}</p>


  <div class="container">
    <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Phone</th>
            <th scope="col">E-mail</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of userss; index as i">
            <th scope="row">{{i+1}}</th>
            <td>{{user.name}}</td>
            <td>{{user.phone}}</td>
            <td>{{user.email}}</td>
          </tr>
        </tbody>
      </table>
  </div>









